<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>


<!-- {% extends "base.html" %} -->
{% block content %}
<body>
    <article>
        <section id="sec1">
            <h1>New Post(投稿)</h1>
        </section>
    
        <section id="sec2">
        {% for post_item in tpl_post %}
            <div class="items">               
                <div class="post_item">
                    <a href="#"></a><img src="/static/img/{{post_item['image']}}" alt="投稿内容">
                    <a href="#"></a><p>{{post_item["title"]}}</p>
                </div>
                <div class="post_item">
                    <a href="#<!--商品投稿ページ-->"></a><img src="/static/img/{{post_item['image']}}" alt="投稿内容">
                    <a href="#<!--商品投稿ページ-->"></a><p>{{post_item["title"]}}</p>
                </div>
                <div class="post_item">
                    <a href="#<!--商品投稿ページ-->"></a><img src="/static/img/{{post_item['image']}}" alt="投稿内容">
                    <a href="#<!--商品投稿ページ-->"></a><p>{{post_item["title"]}}</p>
                </div>
                <div class="post_item">
                    <a href="#<!--商品投稿ページ-->"></a><img src="/static/img/{{post_item['image']}}" alt="投稿内容">
                    <a href="#<!--商品投稿ページ-->"></a><p>{{post_item["title"]}}</p>
                </div>
                <div class="post_item">
                    <a href="#<!--商品投稿ページ-->"></a><img src="/static/img/{{post_item['image']}}" alt="投稿内容">
                    <a href="#<!--商品投稿ページ-->"></a><p>{{post_item["title"]}}</p>
                </div>
                <div class="post_item">
                    <a href="#<!--商品投稿ページ-->"></a><img src="/static/img/{{post_item['image']}}" alt="投稿内容">
                    <a href="#<!--商品投稿ページ-->"></a><p>{{post_item["title"]}}</p>
                </div>
               
            </div>   
        {% endfor %}
        </section>

        <section id="sec3">
            <div class="levels">               
                <div class="level">
                     <p>Level 1</p>
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div>
                    <a href="#">もっと見る</a>
                </div>
            </div>
            
            <div class="levels">               
                <div class="level">
                     <p>Level 2</p>
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div>
                    <a href="#">もっと見る</a>
                </div>
            </div>

            <div class="levels">               
                <div class="level">
                     <p>Level 3</p>
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div class="level">
                    <a href="#<!--商品投稿ページ-->"></a><img src="../static/img/no_img.png" alt="投稿内容">
                </div>
                <div>
                    <a href="#">もっと見る</a>
                </div>
            </div>


        </section>
    </article>
    
</body>

</html>
{% endblock %}