/* --------------------kaito-------------------- */

div.register_form {
    text-align: center;
    margin: 0 auto
}















































/* --------------------mika-------------------- */

















































/* --------------------takenoko-------------------- */
div.post_form{
    background-color:#FFFACD;
    text-align: center;
    margin: 0 auto;

}















































/* --------------------yuki-------------------- */

















































