/* --------------------kaito-------------------- */


register_form {
    text-align: center;
    margin: 0 auto
}

profile_edit_form {
    text-align: center;
    margin: 0 auto
}

login_form {
    text-align: center;
    margin: 0 auto
}

mypage_post {
    text-align: center;
}

ul.mypage_list {
    
    list-style-type: none;
}

mypage_list.li {
    display: inline;
}

logout {
    text-decoration: none;
}



































/* --------------------mika-------------------- */



nav {
    list-style: none;
    background-color:#FFFACD;
    color: #333229;
  }
  nav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
    padding: 6px;
    list-style-type: none;
  }
  nav a {
    display: block;
    list-style: none;
    border-radius: 4px;
    padding: 12px 24px;
    color:#333229;
    text-decoration: none;
  }
  nav li a:hover {
    list-style: none;
    background-color: #8cae47;
  }










































/* --------------------takenoko-------------------- */
div.post_form{
    background-color:#FFFACD;
    text-align: center;
    margin: 0 auto;
    }  
    
    
#introduce_area{
    background-color: #FFFACD;
    text-align: center;
    margin: 0 auto;
}    














































/* --------------------yuki-------------------- */
body{
    background: #fff;
	text-align: center;
	font-size: 25px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
    background-color: #fffacd;
    font-family:"Honnotate sc";
}

h1 {
    font-size: 50px;
    color:#6b8e23;
    margin-top : 20px;
    margin-bottom: 20px;
}

h2{
    color: #6b8e23;
    font-size: 30px;
}
.items{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width: 1200px;
    margin:0 auto;
    text-align: left;
}
.title{
    font-weight: bolder;
}
.post_item{
    box-sizing: border-box;
    border:0px solid #ccc;
    /* margin: 0px 25px 0px 25px;  */
    padding: 20px;
    width: 33.3% ;
}

a{
    text-decoration: none;
    color:#000000
}


a:hover{
    color: #ff8c00 ;
    font-weight: bolde;
    
}

p{
 margin: 0;
}

.image_top{
    width: 350px;
}

img{
    width: 200px;
}

#sec2{
    margin-bottom:100px;
    color:black;
}
.levels{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: #ff8c00 1px solid;
    
}

.border{
    border-top: #ff8c00 1px solid;
}
.level{
    padding:40px
}


