<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./graduation_work/static/css/style.css">

    <title>まにふ〜</title>

    
</head>
<body>

    <header>
        <nav class="menu">
            <ul>
                <li><a href="./login.html">ログイン</a></li>
                <li><a href="./register.html">会員登録</a></li>
                <li><a href="./top.html">Top</a></li>
                <li><a href="./post.html">投稿ページ</a></li>
    
            </ul>
            <ul id="menu">
                <li class="open"><a href="#"><i>O</i>マニアック度</a>
                    <ul class="pulldown">
                        <li><a href=“/level1/“>level1</a></li>
                        <li><a href=“/level2/“>level2</a></li>
                        <li><a href=“/level3/“>level3</a></li>
                       
                    </ul>
                </li>

                <li class="open"><a href="#"><i>O</i>カテゴリー</a>
                    <ul class="pulldown">
                        <li><a href=“/foods/“>食べ物</a></li>
                        <li><a href=“/sweets/“>スイーツ</a></li>
                        <li><a href=“/bizarre_foods/“>ゲテモノ</a></li>
                        <li><a href=“/other/“>その他</a></li>
                    
                    </ul>
                </li>





    
        </nav>














    </header>

    {% block content %}
	{% endblock %}




    <footer>

    </footer>
    
</body>
</html>