<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <title>まにふ〜</title>

    
</head>
<body>

    <header>
        <nav class="menu">
        
                
            <div class="f-container">

                <ul>
                    <li><a>まにふ〜</a></li>
                    <li><a href="/login">ログイン</a></li>
                    <li><a href="/register">会員登録</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                    <li><a href="/mypage">マイページ</a></li>
                    <li><a href="/top">Top</a></li>
                    <li><a href="/post">投稿ページ</a></li>
                </ul>
                

                <!-- <ul class="gnav">
                    <li>
                        <a class="maniac">マニアック度</a>
                        <ul>
                            <li><a href="/level1">level1</a></li>
                            <li><a href="/level2">level2</a></li>
                            <li><a href="/level3">level3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="category">カテゴリー</a>
                        <ul>
                            <li><a href="/foods">食物系</a></li>
                            <li><a href="/sweets">スイーツ系</a></li>
                            <li><a href="/other">その他</a></li>
                        </ul>
                    </li>
                    
                </ul>       -->
                
            
        
    
            </div>
        
        </nav>
             
    
    
        
    
    
    
    </header>

    {% block content %}
	{% endblock %}




    <footer>

    </footer>
    
</body>
</html>