{% extends "base.html" %}

{% block content %}
<!-- 投稿詳細ページ -->
<article>
    <div id=introduce_area>
        <section id="user_name_area">
            <p>{{tpl_user_name[0]}}</p>
        </section>
        <section id="main_avaluation_area">
            <p>私のマニアック度{{tpl_details[3]}}</p>
        </section>
        <section id="image_area">
            <img src="../static/img/{{tpl_details[2]}}" alt="画像">
        </section>
        <!-- <section id="level_area">
            <p>マニアック度</p>
            <div>
                <span>レベル１</span>
                <span>レベル２</span>
                <span>レベル３</span>
            </div> -->
 
        </section>
        <section id="main_comment_area">
            <p>コメント：{{tpl_details[4]}}</p>
        </section>
        <section id="category_area">
            <p>カテゴリー:{{tpl_details[6]}}</p>
        </section>
        <section id="location_area">
            <p>入手先：{{tpl_details[5]}}</p>
        </section>
        <section id="comment_area">
            <form action="/introduce" method="post">
                <p>コメント<br>
                <textarea name="comment" cols="20" rows="5" wrap="soft" maxlength="100"></textarea></p>
                <button type="submit" name="send">コメントする</button>
            </form>
            <ul>
                <li>{{reply_info[0]}}</li>
                <li>{{reply_info[1]}}</li>
                <li>{{reply_info[2]}}</li>
            </ul>
        </section>
    </div>    
</article>
   



{% endblock %}