{% extends "base.html" %}

{% block content %}
<div class="mypage_header">

   <h1>{{user_name[0]}}さん</h1>

   <button type="button" name="profile"><a href="/profile{{user_id}}">登録情報確認・変更</a></button>


</div>

<div class="mypage_post">

   <ul class="mypage_list">
      <li>
         <img src="../static/img/no_img.png" alt="">
         <p>title</p>
         <button type="button" name="edit_{{post_id}}">編集</button>
         <button type="button" name="delete_{{post_id}}">削除</button>
      </li>

      <li>
         <img src="../static/img/no_img.png" alt="">
         <p>title</p>
         <button type="button" name="edit_{{post_id}}">編集</button>
         <button type="button" name="delete_{{post_id}}">削除</button>
      </li>

      <li>
         <img src="../static/img/no_img.png" alt="">
         <p>title</p>
         <button type="button" name="edit_{{post_id}}">編集</button>
         <button type="button" name="delete_{{post_id}}">削除</button>
      </li>

      <li>
         <img src="../static/img/no_img.png" alt="">
         <p>title</p>
         <button type="button" name="edit_{{post_id}}">編集</button>
         <button type="button" name="delete_{{post_id}}">削除</button>
      </li>

   </ul>

</div>

<button><a class="logout" href="/logout">ログアウト</a></button>
   
   




{% endblock %}