{% extends "base.html" %}

{% block content %}
<h2>投稿内容入力フォーム</h2>
<p>あなたの見つけたマニアックな食べ物を投稿してみてくださいね</p>
<div class="post_form">
   <form action="/post" method="post">
      <input type="file" name="image" size="30"><br>
      タイトル（商品名）<br>
      <input  type="text" name="title" wrap="soft" maxlength="20" placeholder="商品をご記入ください"></textarea><br>
      感想<br>
      <textarea name="comment" cols="20" rows="10" wrap="soft" maxlength="200" placeholder="感想をご記入ください（最大200文字）"></textarea><br>
      入手先<br>
      <input type="text" name="location" wrap="soft" placeholder="どちらで入手しましたか？"><br>
      私のマニアック度<br>
      <select name="main_evaluation">
         <option value="level1">level1</option>
         <option value="level2">level2</option>
         <option value="level3">level3</option>
      </select><br>
      カテゴリー<br>
      <select name="category">
         <option value="food">食事系</option>
         <option value="sweets">スイーツ系</option>
         <option value="other">その他</option>
      </select><br>

      <button type="submit" name="send">投稿する</button>
   </form>
</div>

   



{% endblock %}