{% extends 'base.html'%}
{% block content %}

<h3>会員情報を変更するには、変更する箇所を更新して保存を押してください。</h3>

<form action="/register" method="post">
    Eメールアドレス：<input type="text" name="e-mail" value="xxxyyyzzz@gmail.com"><br>
    パスワード：<input type="password" name="password" value="・・・・・・"><br>
    パスワード確認用：<input type="password" name="password" value="・・・・・・"><br>
    名前：<input type="text" name="name" value="Suga Yoshihide"><br> 
    年齢：<input type="integer" name="age" value="72"><br>
    性別：<input type="radio" name="gender" value="male">男性
    <input type="radio" name="gender" value="female">女性
    <input type="radio" name="gender" value="other">その他<br>
    
    <input type="submit" name="save_again" value="保存">
</form>


{% endblock %}