{% extends 'base.html'%}
{% block content %}

<h3>会員情報を変更するには、変更する箇所を更新して保存を押してください。</h3>

<div class="profile_edit_form">

    <form action="/register" method="post">
        Eメールアドレス：<input type="text" name="e-mail" value="{{user_info[1]}}"><br>
        パスワード：<input type="password" name="password" value="{{user_info[2]}}"><br>
        パスワード確認用：<input type="password" name="password" value="{{user_info[2]}}"><br>
        名前：<input type="text" name="name" value="{{user_info[0]}}"><br> 
        年齢：<input type="integer" name="age" value="{{user_info[3]}}"><br>
        
        
        <input type="submit" name="save_again" value="保存">
    </form>

</div>



{% endblock %}