{% extends 'base.html' %}

{% block content %}
    <h3>会員になると写真を投稿できたり、ほかの人へコメントが出来るようになります(無料)</h3>

<div class="register_form">

<form action="/register" method="post">
    Eメールアドレス：<input type="text" name="e-mail"><br>
    パスワード：<input type="password" name="password"><br>
    パスワード確認用：<input type="password" name="password"><br>
    名前：<input type="text" name="name"><br>
    
    年齢：<input type="integer" name="age"><br>
    性別：<input type="radio" name="gender" value="male">男性
    <input type="radio" name="gender" value="female">女性
    <input type="radio" name="gender" value="other">その他<br>
    
    <input type="submit" name="save" value="登録">
</form>

<a href="/login">登録している方はこちら</a>
</div>

    {% endblock %}